# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# documentation
/docs

# development mode
/dist/index.html
webpack.config.*

# dependencies
/node_modules

# misc
.DS_Store

# logs
npm-debug.log*
